body
{
	overflow: hidden;
}

a
{
	text-decoration: none;
	color:black;
}

a:hover
{
	color: #bcbcbc;
}

#navigation
{
	line-height: 24px;
	display: inline-block;
	float: left;
	margin: 50px 0 0 -30px;
	font-size: 24px;
}

.navbar
{
	display:block;
	word-spacing: 2em;
	font-family: inconsolata, lucida console, monaco, monospace;
	color: black;
}

#logo
{
	font-size: 48px;
	position: absolute;
	font-family: montserrat, avenir next, helvetica neue, sans-serif;
	font-weight: 700;
	margin: 30px 0 0 -30px;
	display: block;
	line-height: 0px;
}

#content
{
	font-family: montserrat;
	font-size: 18px;
	line-height: 24px;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: absolute;
    /* Standard */
    top: calc(61.8% - 96px);
    /* WebKit */
    top: -webkit-calc(61.8% - 96px);
    /* Firefox */
    top: -moz-calc(61.8% - 96px);
    /* Opera */
    top: -o-calc(61.8% - 96px);
    left: 360px;
}

#copyright
{
	position: absolute;
	bottom: 1em;
	left: 1em;
	float: left;
	font-family: inconsolata, lucida console, monaco, monospace;
}