body
{
	overflow: hidden;
}

a
{
	text-decoration: none;
	color:black;
}

a:hover
{
	color: #bcbcbc;
}
/* navigation bar */
#navigation
{
	line-height: 24px;
	display: inline-block;
	float: left;
	margin: 50px 0 0 -30px;
	font-size: 24px;
}
/* navigation bar elements */
.navbar
{
	display:block;
	word-spacing: 2em;
	font-family: inconsolata, lucida console, monaco, monospace;
	color: black;
}
/* Logo */
#logo
{
	font-size: 48px;
	position: absolute;
	font-family: montserrat, avenir next, helvetica neue, sans-serif;
	font-weight: 700;
	margin: 30px 0 0 -30px;
	display: block;
	line-height: 0px;
}
/* content outermost container */
#wrapper
{
	/* Standard */
	height: calc(100% - 30px);
	/* Firefox */
	height: -moz-calc(100% - 30px);
	/* WebKit */
	height: -webkit-calc(100% - 30px);
	/* Opera */
	height: -o-calc(100% - 30px);
	width: 90%;
	overflow-x:scroll;
	overflow-y: hidden; 
	position: absolute;
	top: 30px;
	left: 360px;
	white-space: nowrap;
	max-width: 100%;
}
/* content outer container */
#scroll
{
	width: 90%;
	height: calc(100% - 33px);
}
/* content images */
#scroll img
{
	width: auto;
	height: 720px;
	max-height: 100%;
	margin-right: 30px;
	margin-bottom: 100px;
}
/* content elements */
#img_each
{
	margin-right: 40px;
	display: inline-block;
}
/* content images:hover */
#scroll img:hover
{
	opacity: 0.5;
	z-index: 1;
}
/* image caption */
#parag
{
	position: absolute;
	z-index: -1;
	font-size: 18px;
	font-family: inconsolata;
	font-weight: 400;
}
#scroll p
{

	margin-top: 0;
}

#img_each p
{
	text-align: center;
}

/* copyright */
#copyright
{
	position: absolute;
	bottom: 1em;
	left: 1em;
	float: left;
	font-family: inconsolata, lucida console, monaco, monospace;
	font-size: 16px;
}