body
{
	overflow: hidden;
}

a
{
	text-decoration: none;
	color:black;
}

a:hover
{
	color: #bcbcbc;
}
/* navigation bar */
#navigation
{
	line-height: 24px;
	display: inline-block;
	float: left;
	margin: 50px 0 0 -30px;
	font-size: 24px;
}
/* navigation bar elements */
.navbar
{
	display:block;
	word-spacing: 2em;
	font-family: inconsolata, lucida console, monaco, monospace;
	color: black;
}
/* Logo */
#logo
{
	font-size: 48px;
	position: absolute;
	font-family: montserrat, avenir next, helvetica neue, sans-serif;
	font-weight: 700;
	margin: 30px 0 0 -30px;
	display: block;
	line-height: 0px;
}

#outer
{

	position: absolute;
	width: 70%;
	height: 50%;
	left: 360px;
}

#soon
{
	position: relative;
	text-align: center;
	top: 50%;
	font-size: 96px;
	line-height: 48px;
	font-family: montserrat, avenir next, helvetica neue, sans-serif;


}  
/* copyright */
#copyright
{
	position: absolute;
	bottom: 1em;
	left: 1em;
	float: left;
	font-family: inconsolata, lucida console, monaco, monospace;
	font-size: 16px;
}